body {
    font-family: $body-font;
    line-height: $line-height-base;
    font-size: $font-size-base;
    color: $grey;
}

img {
    max-width: 100%;
}

@media (min-width: 768px) {
    .container {
        max-width: 96%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 96%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}
