h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    font-weight: 800;
    margin-bottom: 1rem;
}

h1 {

}

h2 {

}

h3 {
    font-size: 24px;
}
h5 a:hover {
    text-under: none;
}

p { 

}

a {
    color: $crimson;
    transition: all 0.25s linear;
}

.btn {
    border: 0 none;
    border-radius: 0;
}

.btn-primary {
    background-color: $crimson;

    &:hover {
        background-color: $crimson;
        opacity: 0.9;
    }
}

.btn-secondary {
    background-color: #999;

    &:hover {
        background-color: #999;
        opacity: 0.9;
    }
}

.btn-link {
    color: $primary;
}
.press-title-white {
    color: $white;
}
