// Typography
$header-font: 'Open Sans', sans-serif;
$body-font: 'Montserrat', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;

// Colors
$crimson: #D91455;
$black: #000000;
$pink: #E62162;
$grey: #333333;
$white: #fff;
