.faq-container {
    margin-top:50px;
    margin-bottom:50px;
}
.faq-container h2:after{
    content: "";
    display: block;
    width: 35%;
    height: 4px;
    position: relative;
    top:5px;
    background: #D91455;

}

