.featured-resources {
    padding: 50px 0;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: 30%;
        height: 3px;
        background: $crimson;
        top: 0;
        left: 35%;
    }

    .row {
        margin-top: 10px;
    }

    .resource-item {
        color: $grey;
        text-decoration: none;
        margin: 20px 0;

        &:hover {
            span {
                color: $crimson;
                font-weight: 800;
                transition: all 0.25s linear;
            }
        }

        .image {
            width: 100%;
            height: 250px;
            background-size: cover;
            background-position: center;
            margin: 0 0 15px;
        }

    }
}

