#footer {
    background-color:#f1efef;
    margin-top: 20px;
    padding: 30px 0 0;
    position: relative;

    .footer-logo {
        width: 100%;
        max-width: 200px;
    }

    h5 {
        color: $crimson;
        position: relative;
        padding-bottom: 10px;

        &:after {
            content: '';
            display: block;
            width: 50%;
            height: 2px;
            background: $crimson;            
            position: absolute;
            top: 100%;
            left: 0;
        }        
    }

    p, a {
        font-size: 14px;
        color: $grey;
    }

    ul {
        margin-bottom: 20px;

        li {
            margin-bottom: 10px;
        }
    }
    
    .social-links {
        li {
            display: inline-block;
            margin: 0 20px 0 0;
        }

        a {
            font-size: 26px;
            color: $crimson;
        }
    }

    .terms {
        background: $grey;
        color: $white;
        margin: 30px 0 0;
        padding: 20px 0;
        font-size: 12px;

        a {
            color: $white;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                display: inline-block;

                @media(max-width: 767px){
                    display: block;
                }
            }
        }

        .copyright {
            color: $crimson;
        }
    }

    .back-to-top {
        background: $crimson;
        color: $white;
        padding: 10px 15px;
        text-align: center;
        position: absolute;
        top: -30px;
        right: 50px;
        font-size: 10px;
        text-decoration: none;

        i {
            font-size: 20px;
        }
    }
}