.header {

    padding: 20px 0;
    
    .logo {
        max-width: 300px;

        @media(max-width: 767px) {
            max-width: 200px;
        }

        @media(max-width: 480px) {
            max-width: 150px;
        }
    }

    ul 
    {
        margin: 0;
        padding: 0;
    }

    li.highlight-nav {
        background-color:$crimson;
        border-radius:25px;
        padding:0px 10px 0px 10px;
        margin:0px 15px 0px 15px;
    }

    .highlight-nav a {
        color: #ffffff!important;
    }

    .main-nav {
        float: right;
        padding: 0;
        margin: 15px 0 0;
        position: relative;
        z-index: 999;

        @media(max-width: 1279px) {
            display: none;
        }
        
        li {
            display: inline-block;
            position: relative;

            &:hover ul {
                display: block;
            }

            &.active a,
            &:not(.highlight-nav):hover>a{
                background: $grey;
                color: $white;
            }

            ul {
                position: absolute;
                top: 100%;
                left: 0;
                width: 200px;
                display: none;
                background: $white;
                border: 2px solid $grey;

                li {
                    display: block;
                }
            }

            .material-icons {
                font-size: 18px;
                vertical-align: text-bottom;
            }
        }

        a {
            color: $grey;
        }
    }

    #moby-button {
        display: none;
        float: right;
        font-size: 24px;
        line-height: 30px;
        margin: 15px 0 0;

        @media(max-width: 1279px) {
            display: inline-block;
        }

        @media(max-width: 767px) {
            margin: 5px 0 0;
        }

        @media(max-width: 480px) {
            font-size: 20px;
        }

        .material-icons {
            font-size: 30px;
            line-height: 30px;
            vertical-align: bottom;
        }
    }
}