.swiper-container {
    width: 100%;
    height: 500px;

    .swiper-slide {
        background-size: cover;
        background-position: center;
    }

    .content {
        background: rgba(0,0,0,0.8);
        margin: 40px auto 0;
        color: $white;
        display: inline-block;
        padding: 30px;
        position: absolute;
        bottom: 50px;
        right: 100px;

        @media(max-width: 767px) {
            position: relative;
            bottom: auto;
            right: auto;
        }
    }

    .swiper-button-next, 
    .swiper-button-prev{
        background: #fff;
        width: auto;
        height: auto;
        padding: 10px;
        line-height: 1;

        @media(max-width: 767px) {
            display: none;
        }

        .material-icons {
            line-height: 1;
            font-size: 40px;   
            color: $crimson;   
        }
    }

    .swiper-pagination-bullet {
        background: $white;
        opacity: 0.8;
    }

    .swiper-pagination-bullet-active {
        background: $crimson; 
    }
}