.moby {
    background: $crimson;

    .desktop-dropdown-icon {
        display: none;
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            a {
                color: $white;
            }
        }
    }

    .material-icons {
        color: $white;
    }

    .highlight-nav {
        text-align: center;

        a {
            color: $black;
            background: $white;
            border-radius: 20px;
            display: inline-block;
            padding: 20px 40px;
        }
    }

}