.second-nav {
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        border: 10px solid $crimson;
        font-size: 0;
        text-align: center;
        position: relative;
        z-index: 99;

        li {
            display: inline-block;
            width: 33.33%;
            font-size: 24px;
            font-weight: 800;
            line-height: 1;
            padding: 20px 0 15px;
            border-bottom: 5px solid $white;
            cursor: pointer;
            vertical-align: top;

            @media(max-width: 1023px) {
                font-size: 20px;
            }

            @media(max-width: 767px) {
                font-size: 18px;
                padding: 10px 0;                
            }

            @media(max-width: 480px) {
                font-size: 14px;
                padding: 10px 5px;
            }

            &:hover {
                border-bottom: 5px solid $grey;

                .sub-list {
                    display: table;
                    width: 100%;
                }
            }

            .material-icons {
                font-size: 27px;
                font-weight: bold;
                vertical-align: text-bottom;
                color: $crimson;

                @media(max-width: 480px){
                    display: block;
                }
            }
        }
    }

    .sub-list {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        font-size: 0;
        background: #f1efef;
        display: none;

        img {
            border-radius: 50%;
            width: 100%;
            max-width: 100px;

            @media(max-width: 1023px) {
                max-width: 50px;
            }
        }

        .sub-list-item {                    
            width: 20%;
            display: table-cell;
            vertical-align: top;
            font-size: 20px;
            font-weight: normal;
            color: $grey;
            text-decoration: none;
            box-sizing: border-box;
            padding: 20px 30px;
            border-left: 1px solid $white;

            @media(max-width: 1023px) {
                display: block;
                width: 100%;
                text-align: left;
                padding: 10px 15px;
                border-bottom: 1px solid $white;
            }        
            
            @media(max-width: 480px) {
                padding: 5px 10px;
            }

            &:first-child {
                border: 0 none;

                @media(max-width: 1023px) {
                    border-bottom: 1px solid $white;
                }
            }

            &:hover {
                background: #cccaca;
            }

            span {
                display: block;
                margin: 15px 0 0;
                line-height: 1.5;

                @media(max-width: 1023px) {
                    display: inline-block;
                    vertical-align: top;
                    font-size: 16px;
                }

                @media(max-width: 480px) {
                    font-size: 14px;
                }
            }
        }
    }
}